In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
enr1 = pd.read_csv("100_enr1.csv")
enr2 = pd.read_csv("100_enr12.csv")
prof1 = pd.read_csv("100_prof1.csv")
prof2 = pd.read_csv("100_prof12.csv")

In [4]:
prof1["rural_urban"] = prof1["rural_urban"].map({1: "Rural", 2: "Urban"})
prof2["rural_urban"] = prof2["rural_urban"].map({1: "Rural", 2: "Urban"})

In [5]:
enr1.columns

Index(['pseudocode', 'item_group', 'item_id', 'cpp_b', 'cpp_g', 'c1_b', 'c1_g',
       'c2_b', 'c2_g', 'c3_b', 'c3_g', 'c4_b', 'c4_g', 'c5_b', 'c5_g', 'c6_b',
       'c6_g', 'c7_b', 'c7_g', 'c8_b', 'c8_g', 'c9_b', 'c9_g', 'c10_b',
       'c10_g', 'c11_b', 'c11_g', 'c12_b', 'c12_g'],
      dtype='object')

In [6]:
enr1

,pseudocode,item_group,item_id,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,1000002,1,2,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1000002,1,3,0,0,7,7,6,3,8,...,0,0,0,0,0,0,0,0,0,0
2,1000002,1,4,0,0,3,2,1,3,1,...,0,0,0,0,0,0,0,0,0,0
3,1000002,3,13,0,0,10,9,7,5,10,...,0,0,0,0,0,0,0,0,0,0
4,1000019,1,2,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8234729,9999976,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8234730,9999977,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8234731,9999982,5,0,0,0,0,0,0,0,0,...,5,0,5,13,0,0,0,0,0,0
8234732,9999988,5,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8234733,9999994,5,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
mapping = {
    (1, 1): "General",
    (1, 2): "SC",
    (1, 3): "ST",
    (1, 4): "OBC",
    (2, 5): "Muslim",
    (2, 6): "Christian",
    (2, 7): "Sikh",
    (2, 8): "Buddhist",
    (2, 9): "Parsi",
    (2, 10): "Jain"
}

In [8]:
enr1["caste"] = enr1.apply(
    lambda row: mapping.get((row["item_group"], row["item_id"])), axis=1
)

In [17]:
enr2["caste"] = enr2.apply(
    lambda row: mapping.get((row["item_group"], row["item_id"])), axis=1
)

In [18]:
enr1 = enr1.dropna(subset=["caste"]).reset_index(drop=True)
enr2 = enr2.dropna(subset=["caste"]).reset_index(drop=True)

In [19]:
enr1 = enr1.drop(columns=["pseudocode", "item_group", "item_id"], errors="ignore")
enr2 = enr2.drop(columns=["pseudocode", "item_group", "item_id"], errors="ignore")

In [20]:
numeric_cols = [col for col in enr1.columns if col not in ['caste'] and enr1[col].dtype in ['int64', 'float64']]

In [21]:
aggregated_by_caste_1 = enr1.groupby('caste')[numeric_cols].sum().reset_index()

In [22]:
aggregated_by_caste_2 = enr2.groupby('caste')[numeric_cols].sum().reset_index()

In [24]:
aggregated_by_caste_1

,caste,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,c3_g,c4_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,Buddhist,18271,16472,43087,40573,44630,41944,46466,43915,43630,...,43652,41461,42908,39896,42550,40629,32372,32473,47829,45026
1,Christian,271316,254616,224850,213898,217943,208555,217576,208096,212782,...,197329,201352,185099,190071,178391,189645,132617,144751,136905,151911
2,General,2402741,2098371,2674474,2386289,2899348,2594680,3006663,2685712,2969057,...,2884245,2596889,2725022,2434203,2645796,2445503,2007430,1896747,2054256,1972750
3,Jain,26940,23007,29691,26537,25133,22573,26629,24154,26473,...,26881,24136,27049,23778,30281,27133,24741,23410,25850,24154
4,Muslim,1190420,1077702,1760371,1628516,1997930,1877212,2022074,1914913,1940634,...,1590016,1625732,1297613,1315362,1284217,1383546,772092,879618,719672,866252
5,OBC,2973809,2504106,4301780,3891434,5104084,4674503,5391488,4944542,5276255,...,4984386,4679599,4131557,3774218,4489822,4203711,3123047,3062215,3175685,3071377
6,Parsi,949,800,1416,1266,1313,1140,1225,1032,1208,...,1029,1042,948,742,1087,1059,900,793,826,933
7,SC,1033763,905629,1730001,1608781,2035535,1908121,2116489,1985294,2123549,...,2005576,1916444,1675790,1569685,1693675,1640071,1140633,1174337,1162668,1196654
8,ST,619331,545047,1106299,1039056,1224360,1152901,1206821,1134984,1141548,...,1093734,1050797,921768,885824,806914,820232,492386,535575,515330,554424
9,Sikh,267461,229832,126543,110819,133704,115931,144923,123273,148588,...,153757,131838,152628,128792,143438,124072,131499,113042,133654,114110

In [26]:
aggregated_by_caste_1.columns

Index(['caste', 'cpp_b', 'cpp_g', 'c1_b', 'c1_g', 'c2_b', 'c2_g', 'c3_b',
       'c3_g', 'c4_b', 'c4_g', 'c5_b', 'c5_g', 'c6_b', 'c6_g', 'c7_b', 'c7_g',
       'c8_b', 'c8_g', 'c9_b', 'c9_g', 'c10_b', 'c10_g', 'c11_b', 'c11_g',
       'c12_b', 'c12_g'],
      dtype='object')

In [25]:
aggregated_by_caste_2

,caste,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,c3_g,c4_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,Buddhist,22028,20033,44075,40969,42285,39951,44729,42215,46304,...,44372,42158,42838,40628,42052,39495,32554,33923,32446,32348
1,Christian,280483,262581,219338,207641,206231,198646,208443,199684,208505,...,194891,198843,182880,191019,174010,185721,138359,153578,131752,147651
2,General,2674519,2348744,2794171,2504900,2683800,2420800,2919990,2636525,3009390,...,2904606,2621472,2743614,2510908,2602581,2423701,2087391,2001839,1943764,1853878
3,Jain,28529,25262,28127,25133,28022,25513,25049,22849,26508,...,27232,24480,26147,23339,28080,25054,25252,24011,25489,24457
4,Muslim,1289427,1169747,1802606,1681988,1804086,1694524,2001092,1903183,1995391,...,1583703,1614090,1331245,1408923,1220271,1335041,815266,945339,722817,841529
5,OBC,3086052,2607584,4470832,4057560,4403632,4047779,5135439,4753168,5366475,...,4944939,4655153,4448860,4161758,4224574,3977647,3344389,3378212,3136481,3118424
6,Parsi,1343,1092,1721,1422,1376,1234,1242,1087,1182,...,1061,1026,969,1038,1104,972,875,891,886,784
7,SC,1089039,958114,1670677,1563208,1760937,1655253,2046546,1931957,2108262,...,1996927,1918813,1765751,1693243,1597239,1563216,1185603,1256324,1084465,1135267
8,ST,682910,600118,1106117,1035188,1073017,1017555,1204802,1141259,1183075,...,1079492,1042029,936204,915279,789759,811102,526397,583783,475801,531699
9,Sikh,264016,230568,133632,115565,120512,106653,131237,114408,142460,...,155263,131305,149792,128181,142917,124659,131859,115922,124596,110763

In [27]:
merged = pd.merge(
    aggregated_by_caste_1,
    aggregated_by_caste_2,
    on="caste",
    suffixes=("_23_24", "_24_25")
)

In [28]:
result = merged[["caste"]].copy()
sequence = ["cpp"] + [f"c{i}" for i in range(1, 13)]

In [29]:
for i in range(1, len(sequence)):
    prev_grade = sequence[i - 1]
    curr_grade = sequence[i]

    for gender in ["b", "g"]:
        prev_col = f"{prev_grade}_{gender}_23_24"
        curr_col = f"{curr_grade}_{gender}_24_25"

        dropout_col = f"{curr_grade}_{gender}_dropout_rate"
        retention_col = f"{curr_grade}_{gender}_retention_rate"

        # Dropout rate formula
        result[dropout_col] = (
            (merged[prev_col] - merged[curr_col]) / merged[prev_col]
        ).fillna(0)

        # Clip negative values (no negative dropout)
        result[dropout_col] = result[dropout_col].clip(lower=0)

        # Retention = 1 - dropout
        result[retention_col] = 1 - result[dropout_col]

In [30]:
result

,caste,c1_b_dropout_rate,c1_b_retention_rate,c1_g_dropout_rate,c1_g_retention_rate,c2_b_dropout_rate,c2_b_retention_rate,c2_g_dropout_rate,c2_g_retention_rate,c3_b_dropout_rate,...,c10_g_dropout_rate,c10_g_retention_rate,c11_b_dropout_rate,c11_b_retention_rate,c11_g_dropout_rate,c11_g_retention_rate,c12_b_dropout_rate,c12_b_retention_rate,c12_g_dropout_rate,c12_g_retention_rate
0,Buddhist,0.000000,1.000000,0.000000,1.000000,0.018614,0.981386,0.015330,0.984670,0.000000,...,0.010051,0.989949,0.234924,0.765076,0.165055,0.834945,0.000000,1.000000,0.003849,0.996151
1,Christian,0.191577,0.808423,0.184494,0.815506,0.082806,0.917194,0.071305,0.928695,0.043589,...,0.022886,0.977114,0.224406,0.775594,0.190182,0.809818,0.006523,0.993477,0.000000,1.000000
2,General,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.004314,0.995686,0.211054,0.788946,0.181420,0.818580,0.031715,0.968285,0.022601,0.977399
3,Jain,0.000000,1.000000,0.000000,1.000000,0.056212,0.943788,0.038588,0.961412,0.003342,...,0.000000,1.000000,0.166078,0.833922,0.115063,0.884937,0.000000,1.000000,0.000000,1.000000
4,Muslim,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.365165,0.634835,0.316727,0.683273,0.063820,0.936180,0.043302,0.956698
5,OBC,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.255118,0.744882,0.196374,0.803626,0.000000,1.000000,0.000000,1.000000
6,Parsi,0.000000,1.000000,0.000000,1.000000,0.028249,0.971751,0.025276,0.974724,0.054075,...,0.000000,1.000000,0.195032,0.804968,0.158640,0.841360,0.015556,0.984444,0.011349,0.988651
7,SC,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.004121,0.995879,0.299982,0.700018,0.233982,0.766018,0.049243,0.950757,0.033270,0.966730
8,ST,0.000000,1.000000,0.000000,1.000000,0.030084,0.969916,0.020693,0.979307,0.015974,...,0.084353,0.915647,0.347642,0.652358,0.288271,0.711729,0.033683,0.966317,0.007237,0.992763
9,Sikh,0.500368,0.499632,0.497176,0.502824,0.047660,0.952340,0.037593,0.962407,0.018451,...,0.032091,0.967909,0.080725,0.919275,0.065688,0.934312,0.052495,0.947505,0.020161,0.979839

In [31]:
result.to_csv("caste_dropout_retention_rates.csv", index=False)

In [39]:
merged_1 = pd.merge(
    enr1,
    prof1[["pseudocode", "rural_urban", "state", "district"]],
    on="pseudocode",
    how="inner"
)

In [40]:
merged_2 = pd.merge(
    enr2,
    prof2[["pseudocode", "rural_urban", "state", "district"]],
    on="pseudocode",
    how="inner"
)

In [41]:
merged_1 = merged_1.drop(columns=["item_group", "item_id"], errors="ignore")
merged_2 = merged_2.drop(columns=["item_group", "item_id"], errors="ignore")

In [52]:
merged_1

,pseudocode,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,c3_g,c4_b,...,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g,rural_urban,state,district
0,1000002,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,Rural,MAHARASHTRA,GADCHIROLI
1,1000002,0,0,7,7,6,3,8,10,4,...,0,0,0,0,0,0,0,Rural,MAHARASHTRA,GADCHIROLI
2,1000002,0,0,3,2,1,3,1,4,1,...,0,0,0,0,0,0,0,Rural,MAHARASHTRA,GADCHIROLI
3,1000002,0,0,10,9,7,5,10,13,6,...,0,0,0,0,0,0,0,Rural,MAHARASHTRA,GADCHIROLI
4,1000019,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,Rural,TAMILNADU,DINDIGUL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8234729,9999976,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,Rural,BIHAR,MUZAFFARPUR
8234730,9999977,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Rural,MADHYA PRADESH,CHHATARPUR
8234731,9999982,0,0,0,0,0,0,0,0,0,...,13,0,0,0,0,0,0,Rural,TRIPURA,NORTH TRIPURA
8234732,9999988,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Rural,UTTAR PRADESH,BARABANKI
8234733,9999994,0,0,0,1,1,1,0,1,0,...,0,0,0,0,0,0,0,Rural,PUNJAB,PATIALA

In [17]:
rural_count = merged[merged["rural_urban"] == "Rural"].shape[0]
urban_count = merged[merged["rural_urban"] == "Urban"].shape[0]

In [26]:
cols_to_sum = [
    "cpp_b", "cpp_g",
    "c1_b", "c1_g", "c2_b", "c2_g", "c3_b", "c3_g",
    "c4_b", "c4_g", "c5_b", "c5_g", "c6_b", "c6_g",
    "c7_b", "c7_g", "c8_b", "c8_g", "c9_b", "c9_g",
    "c10_b", "c10_g", "c11_b", "c11_g", "c12_b", "c12_g"
]

In [42]:
aggregated_1 = merged_1.groupby(["state", "district", "rural_urban"], as_index=False)[cols_to_sum].sum()
aggregated_2 = merged_2.groupby(["state", "district", "rural_urban"], as_index=False)[cols_to_sum].sum()

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [44]:
aggregated_1

,state,district,rural_urban,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Rural,1929,1749,704,669,846,753,774,...,1002,866,1014,976,855,890,785,900,782,702
1,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Urban,2158,2098,1270,1236,1452,1299,1330,...,1608,1457,1764,1521,1504,1553,1456,1533,1371,1469
2,ANDAMAN & NICOBAR ISLANDS,MIDDLE AND NORTH ANDAMANS,Rural,1698,1751,682,695,863,832,765,...,1190,1112,1204,1057,1004,1102,1134,1097,930,1038
3,ANDAMAN & NICOBAR ISLANDS,NICOBARS,Rural,567,594,471,449,591,484,524,...,613,537,595,603,562,516,518,544,409,501
4,ANDHRA PRADESH,ANAKAPALLI,Rural,16449,14231,15223,14899,13806,12817,15763,...,19741,18242,19640,18751,19692,18724,8004,11783,10937,14025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,WEST BENGAL,SILIGURI,Urban,1895,2054,2448,2576,2746,2696,2673,...,3236,3574,4506,4590,3529,3728,2887,3135,2688,3629
1514,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Rural,74302,72184,103517,98338,106254,100879,106261,...,95637,100564,104236,112496,81438,105626,46446,67676,47430,73473
1515,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Urban,5432,5512,8823,8641,9581,9230,9696,...,11609,13235,13390,14270,9197,12262,7878,8933,8118,10615
1516,WEST BENGAL,UTTAR DINAJPUR,Rural,41861,40299,56733,53463,59308,55661,61118,...,49662,52804,48569,56461,39415,56946,18528,30416,17953,40446
1517,WEST BENGAL,UTTAR DINAJPUR,Urban,1863,1713,2766,2699,2687,2729,2831,...,3006,3449,3564,4213,2677,3243,2348,2389,2616,3303

In [43]:
aggregated_2

,state,district,rural_urban,cpp_b,cpp_g,c1_b,c1_g,c2_b,c2_g,c3_b,...,c8_b,c8_g,c9_b,c9_g,c10_b,c10_g,c11_b,c11_g,c12_b,c12_g
0,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Rural,1928,1873,932,810,728,695,841,...,912,861,990,858,918,922,798,834,650,847
1,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Urban,2422,2367,1424,1279,1244,1221,1415,...,1527,1526,1800,1552,1512,1417,1512,1637,1211,1442
2,ANDAMAN & NICOBAR ISLANDS,MIDDLE AND NORTH ANDAMANS,Rural,1866,1841,805,816,683,699,856,...,1116,986,1245,1055,1051,985,1054,1100,957,1000
3,ANDAMAN & NICOBAR ISLANDS,NICOBARS,Rural,816,848,476,476,517,450,615,...,542,546,608,556,514,525,461,460,445,506
4,ANDHRA PRADESH,ANAKAPALLI,Rural,16527,14525,15415,14726,13924,13674,13257,...,17671,18097,17578,17186,17475,17385,8007,11745,7150,10978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1499,WEST BENGAL,SILIGURI,Urban,2037,2064,1932,2152,2652,2751,2876,...,3231,3391,4187,4157,3948,4364,2489,2859,2729,3003
1500,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Rural,74718,73852,91837,87973,106244,101134,108287,...,90270,95830,96500,112145,95804,122543,40433,57102,37217,55057
1501,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Urban,3386,3571,4917,4811,5919,5924,6301,...,9306,9885,10946,12210,8971,11345,5773,7212,5610,7010
1502,WEST BENGAL,UTTAR DINAJPUR,Rural,38193,37206,49579,47678,58092,55107,59581,...,53259,53769,45038,56859,45115,66568,14847,23187,15181,26853
1503,WEST BENGAL,UTTAR DINAJPUR,Urban,1648,1661,2425,2167,2883,2867,2850,...,2816,2848,3093,3340,3310,3579,2126,2187,2296,1892

In [45]:
merged = pd.merge(
    aggregated_1,
    aggregated_2,
    on=["state", "district", "rural_urban"],
    suffixes=("_23_24", "_24_25")
)

In [46]:
result = merged[["state", "district", "rural_urban"]].copy()

In [47]:
sequence = ["cpp"] + [f"c{i}" for i in range(1, 13)]

In [48]:
for i in range(1, len(sequence)):
    prev_grade = sequence[i - 1]
    curr_grade = sequence[i]

    for gender in ["b", "g"]:
        prev_col = f"{prev_grade}_{gender}_23_24"
        curr_col = f"{curr_grade}_{gender}_24_25"

        dropout_col = f"{curr_grade}_dropout_rate_{gender}"
        retention_col = f"{curr_grade}_retention_rate_{gender}"

        # Dropout formula based on previous grade
        result[dropout_col] = (
            (merged[prev_col] - merged[curr_col]) / merged[prev_col]
        ).fillna(0)

        # Negative dropout → 0
        result[dropout_col] = result[dropout_col].clip(lower=0)

        # Retention = 1 - dropout
        result[retention_col] = 1 - result[dropout_col]

In [49]:
result.to_csv("dropout_retention_rates_corrected.csv", index=False)

In [50]:
result

,state,district,rural_urban,c1_dropout_rate_b,c1_retention_rate_b,c1_dropout_rate_g,c1_retention_rate_g,c2_dropout_rate_b,c2_retention_rate_b,c2_dropout_rate_g,...,c10_dropout_rate_g,c10_retention_rate_g,c11_dropout_rate_b,c11_retention_rate_b,c11_dropout_rate_g,c11_retention_rate_g,c12_dropout_rate_b,c12_retention_rate_b,c12_dropout_rate_g,c12_retention_rate_g
0,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Rural,0.516848,0.483152,0.536878,0.463122,0.000000,1.000000,0.000000,...,0.055328,0.944672,0.066667,0.933333,0.062921,0.937079,0.171975,0.828025,0.058889,0.941111
1,ANDAMAN & NICOBAR ISLANDS,ANDAMANS,Urban,0.340130,0.659870,0.390372,0.609628,0.020472,0.979528,0.012136,...,0.068376,0.931624,0.000000,1.000000,0.000000,1.000000,0.168269,0.831731,0.059361,0.940639
2,ANDAMAN & NICOBAR ISLANDS,MIDDLE AND NORTH ANDAMANS,Rural,0.525913,0.474087,0.533981,0.466019,0.000000,1.000000,0.000000,...,0.068117,0.931883,0.000000,1.000000,0.001815,0.998185,0.156085,0.843915,0.088423,0.911577
3,ANDAMAN & NICOBAR ISLANDS,NICOBARS,Rural,0.160494,0.839506,0.198653,0.801347,0.000000,1.000000,0.000000,...,0.129353,0.870647,0.179715,0.820285,0.108527,0.891473,0.140927,0.859073,0.069853,0.930147
4,ANDHRA PRADESH,ANAKAPALLI,Rural,0.062861,0.937139,0.000000,1.000000,0.085331,0.914669,0.082220,...,0.072849,0.927151,0.593388,0.406612,0.372730,0.627270,0.106697,0.893303,0.068319,0.931681
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407,WEST BENGAL,SILIGURI,Urban,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.049237,0.950763,0.294701,0.705299,0.233101,0.766899,0.054728,0.945272,0.042105,0.957895
1408,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Rural,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.503512,0.496488,0.459394,0.540606,0.198704,0.801296,0.186462,0.813538
1409,WEST BENGAL,SOUTH TWENTY FOUR PARGANAS,Urban,0.094809,0.905191,0.127177,0.872823,0.329140,0.670860,0.314431,...,0.204975,0.795025,0.372295,0.627705,0.411841,0.588159,0.287890,0.712110,0.215269,0.784731
1410,WEST BENGAL,UTTAR DINAJPUR,Rural,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.623316,0.376684,0.592825,0.407175,0.180646,0.819354,0.117142,0.882858
1411,WEST BENGAL,UTTAR DINAJPUR,Urban,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,...,0.150487,0.849513,0.205827,0.794173,0.325624,0.674376,0.022147,0.977853,0.208037,0.791963

In [51]:
result.columns

Index(['state', 'district', 'rural_urban', 'c1_dropout_rate_b',
       'c1_retention_rate_b', 'c1_dropout_rate_g', 'c1_retention_rate_g',
       'c2_dropout_rate_b', 'c2_retention_rate_b', 'c2_dropout_rate_g',
       'c2_retention_rate_g', 'c3_dropout_rate_b', 'c3_retention_rate_b',
       'c3_dropout_rate_g', 'c3_retention_rate_g', 'c4_dropout_rate_b',
       'c4_retention_rate_b', 'c4_dropout_rate_g', 'c4_retention_rate_g',
       'c5_dropout_rate_b', 'c5_retention_rate_b', 'c5_dropout_rate_g',
       'c5_retention_rate_g', 'c6_dropout_rate_b', 'c6_retention_rate_b',
       'c6_dropout_rate_g', 'c6_retention_rate_g', 'c7_dropout_rate_b',
       'c7_retention_rate_b', 'c7_dropout_rate_g', 'c7_retention_rate_g',
       'c8_dropout_rate_b', 'c8_retention_rate_b', 'c8_dropout_rate_g',
       'c8_retention_rate_g', 'c9_dropout_rate_b', 'c9_retention_rate_b',
       'c9_dropout_rate_g', 'c9_retention_rate_g', 'c10_dropout_rate_b',
       'c10_retention_rate_b', 'c10_dropout_rate_g', 'c10_retention_rate_g',
       'c11_dropout_rate_b', 'c11_retention_rate_b', 'c11_dropout_rate_g',
       'c11_retention_rate_g', 'c12_dropout_rate_b', 'c12_retention_rate_b',
       'c12_dropout_rate_g', 'c12_retention_rate_g'],
      dtype='object')